.App {
  text-align: center;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: whitesmoke;
  max-width: 100%;
}

/* HEADER */
.navbar-header {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 0px;
  height: 70px;
  position: sticky;
  max-width: 100%;
  border-radius:5px ;
  box-shadow: 0px 0px 5px grey;
}

.navbar-logo {
  font-weight: bold;
  font-size: 1.0rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: orange;
}

.nav-links {
  display: flex;
  gap: 35px;
  align-items: center;
}

.nav-links {
  list-style: none;
}

.nav-links  a{
  color:orange;
  text-decoration: none;
  font-size: 1.2rem;
  gap: 20px;
  font-weight: 500;
  padding: 4px 9px;
  border-radius: 5px;
  border: 1px solid grey;
  background: rgba(211, 211, 211, 0.219);
  transition: transform 0.3s ease;
}

.nav-links  a:hover {
  transform: scaleX(1.5) scaleY(1.1);
  color: white;
  background: hsla(0, 0%, 50%, 0.233);
}


.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: rgb(68, 153, 68);
}


/* RESPONSIVE STYLES */
@media (max-width: 768px) {
  img{
    width:250px;
  }
  .nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #353b48;
    flex-direction: column;
    align-items: center;
    overflow: hidden; /* hide overflow when closed */
    max-height: 0; /* closed by default */
    transition: max-height 0.3s ease; /* smooth slide */
  }

  .nav-links a {
    padding: 15px 20px;
    width: 150px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border: none;
    background: transparent;

  }

  /* When active, expand menu */
  .nav-links.active {
    max-height: 350px; /* enough height for all items */
  }

  .menu-toggle {
    display: block;
  }
};

/* Homepage section */
/* hero section */

.hero-section{
  background-image: url("./Assets/blogBg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 10px 30px;
  text-align: center;
  color: black;
  padding: 0 20px;
  max-width: 100%;
}
.hero-section h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
.hero-section p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.hero-section .btn {
  padding: 10px 20px;
  margin: 10px;
  font-size: 1.2rem;
  color: white;
  background-color: rgb(30, 72, 72);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.hero-section .btn:hover {
  background-color: grey;
} 

/* about section */
.about-section {
  padding: 50px 20px;
  text-align: left;
}
.about-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.about-section p {
  color: grey;
  font-size: 1.2rem;
  line-height: 1.6;
}
/* blog info section */
.bloginfo{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bloginfocontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0px;
  margin: 26px auto;
  width: 900px;
  border-radius: 12px;
  box-shadow: 1px 1px 1px 1px grey;
}
.blogtext{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  top: 0;
  flex: 1;
  text-align: left;
  padding: 12px;

}
.blogimg{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media(max-width:650px){
  .bloginfocontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    width: 400px;
  }
  .bloginfocontainer img{
    width: 100%;
    object-fit: cover;
  }
  .blogtext h2{
    font-size: 1.2em;
  }
  .blogtext p{
    font-size: 14px;
  }
}
/* footer section */
.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: grey;
  text-align: left;
  border-radius: 12px;
  box-shadow: 0px 0px 5px grey;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
.footer p {
  margin: 0;
  font-size: 1rem;
} 
.footer a {
  color: lightgreen;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}

/* Add Post Page */
.Add-Post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  margin: auto;
  width: 500px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.Add-Post-form input, .Add-Post-form textarea {
 max-width: 100%; 
  width: 500px;
  padding: 10px;
  margin: 10px 0;   
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}
.AddPostInfoBtn{
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  background-color: rgb(30, 72, 72);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.AddPostInfoBtn:hover {
  background-color: grey;
} 
.AddPostContainer{
  max-width: 100%;
  width: 500px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px;
  max-width: 100%;
  border: .2px solid white;
} 

/* View Posts Page */
.post-card{
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 2px;
  border: .2px solid grey;
  text-align: left;
  width: 250px;
  max-width: 100%;
  transition: transform 0.3s ease;
}
.post-card:hover {
  transform: scale(1.05);
}
.post-card img {
  width: 100%;
  height: 200px;
  ;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}
.post-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: white;
}
.post-card h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.post-card a {
  color: darkblue;
  text-decoration: none;
}
.post-card a:hover {
  color: blueviolet;
  text-decoration: underline;
}
.post-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); 
  gap: 20px;
  padding: 20px;
  max-width: 100%; /*
  display: grid;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px;
  max-width: 100%;
  width: 100px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 3fr)); */
}
/*
.Featured-Posts{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 500px;
  border: 2px solid white;
  overflow: hidden;
  margin: auto;
  padding: 20px;
} */

.hero{
  background-image:  url("./Assets/blogBg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.139);
  background-blend-mode: soft-light;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 100%;
  height: 80vh;
  
}
.hero h1{
  font-size:3.9em;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  color: orange;
}
.hero h1 span{
  color: white;
}
.hero p{
  font-size: 1.8em;
  font-weight: 600;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.4em;
}
.hero .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  backdrop-filter: blur(12px);
  padding: 10px;
  margin: 2px;
  width: 350px;
  border-radius: 9px;
 
}
.buttons a{
  text-decoration: none;
  font-size: 20px;
  background-color: rgb(187, 232, 187);
  box-shadow: 1px 1px 2px grey;
  padding: 5px 22px;
  border-radius: 15px;
  width: 200px;
}
.buttons a:hover{
  background: white;
}

@media(max-width: 710px){
  .hero h1{
    font-size: 2.5em;
  }
  .hero p{
    font-size: 1.3em;
  }
}

/* contact section */
.contact-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin:  30px auto;
  padding: 22px;
  border-radius: 8px;
  box-shadow: 0px 1px 0px 1px rgb(196, 187, 187);
  gap: 12px;
  width: 700px;

}
.contact-sec-text{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 200px;
  line-height: 1.6em;
}
.contact-sec-form form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  line-height: 1.4em;
  
}
.contact-sec-form input{
  width: 300px;
  border-radius: 5px;
  border: .2px solid black;
  padding: 12px 10px;
}
.contact-sec-form textarea{
  width: 300px;
  border-radius: 5px;
  border: .2px solid black;
  padding: 12px 10px;
}
.contact-sec-form button{
  width: 400px;
  border-radius: 5px;
  border: .2px solid black;
  padding: 5px 10px;
  color: white;
  background: black;
  object-fit: cover;
  font-size: 17px;
}
.contact-sec-form button:hover{
  background-color: orange;
  color: black;
}

/* articles page (another copy of the posts page) */
.article-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 12px;
  width: 350px;
  margin: 12px auto;
  border-radius: 5px;
  box-shadow: 0px 0px 1px grey;
  cursor: pointer;
  transition: transform .3s ease-in-out;
}
.article-container:hover{
  transform: translateY(4px);
}
.article-container img{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}
.article-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  margin: 1px 8px;
  line-height: 1.6em;
  gap: 12px;
  cursor: pointer;
}
.article-container a{
  text-decoration: none;
  color: white;
}
.article-container h5{
  background: black;
  padding: 5px 3px;
  object-fit: cover;
  margin: 4px 5px;
  width: 250px;
  text-align: center;
  border-radius: 5px;
  transition: transform .3s ease-in-out;

}
.article-container h5:hover{
  transform: translateY(-4px);
}
@media(max-width:768px){
  .article-container{
    width: 300px;
  }
  .article-text{
    font-size: 14px;
  }
  .article-container img{
    width: 300px;
  }
}

